::placeholder {
  font-size: 17px;
}

body {
  background-color: #dde6ed;
}
.form-select {
  height: 50px;
  font-size: 17px;
  font-family: Arial;
}

.form-label {
  font-size: 50px;
  text-align: center;
}

.game-board {
  width: 500px;
  height: 500px;
  background: lightblue;
}

.hidden {
  opacity: 0;
}

.pairs-input {
  margin-left: 7px;
  padding: 5px;
  font-size: 17px;
  width: 75px;
  height: 35px;
  border-radius: 6px;
}

.pairs-input:focus {
  outline: #27374d solid 4px;
  font-size: 20px;
  border: none;
  transition: all 0.09s;
}
