::placeholder {
  font-size: 17px;
}

body {
  background-color: #dde6ed;
}
.form-select {
  height: 50px;
  font-size: 17px;
  font-family: Arial;
}

.form-label {
  font-size: 50px;
  text-align: center;
}

#game-board {
  background: lightblue;
  max-width: 500px;
  max-height: 550px;
}

.hidden {
  opacity: 0;
  display: none;
}

.pairs-input {
  margin-left: 7px;
  padding: 5px;
  font-size: 20px;
  width: 100px;
  height: 50px;
  border-radius: 6px;
}

#name {
  font-family: Arial;
  font-size: 25px;
}

.timer {
  font-family: Arial;
  font-size: 30px;
  height: 40px;
  color: #545b77;
}

.img-div {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border: solid;
  margin: 3px;
}
